// font
$main-font-stack: "Montserrat", sans-serif;
$main-font-roboto:  "Roboto", sans-serif;
$main-font-kaushan: 'Kaushan Script', sans-serif;

// size
$main-size-base: 14px;

// color
$color-base: #fff;
$color-acent: #fce38a;
$color-after: #f38181;
$color-subtitle: #333;
$color-content__text: #999;